<%= form_with(model: task_event) do |form| %>
  <% if task_event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(task_event.errors.count, "error") %> prohibited this task_event from being saved:</h2>

      <ul>
        <% task_event.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :space_id %>
    <%= form.text_field :space_id %>
  </div>

  <div class="field">
    <%= form.label :task_cycle_id %>
    <%= form.text_field :task_cycle_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
