<span style="font-weight: bold; color: <%= color %>">■ <%= t("notifier.task_event.type.#{type}.title") %></span><br>
<% if task_events.blank? %>
<%= t('notifier.task_event.list.notfound') %><br>
<br>
<% else %>
<% task_events.each do |task_event| %>
[<%= task_event.status_i18n %>] <%= task_event.assigned_user.blank? ? t('notifier.task_event.assigned.notfound') : task_event.assigned_user.name %><br>
<%= task_event.task_cycle.task.priority.to_sym == :none ? '' : "[#{task_event.task_cycle.task.priority_i18n}]" %><%= link_to task_event.task_cycle.task.title, "#{space_url}?code=#{task_event.code}" %><br>
<br>
<% end %>
<% end %>
