<%= form_with(model: task_send_history) do |form| %>
  <% if task_send_history.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(task_send_history.errors.count, "error") %> prohibited this task_send_history from being saved:</h2>

      <ul>
        <% task_send_history.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :space_id %>
    <%= form.text_field :space_id %>
  </div>

  <div class="field">
    <%= form.label :task_send_setting_id %>
    <%= form.text_field :task_send_setting_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
