<p id="notice"><%= notice %></p>

<h1>Task Send Histories</h1>

<table>
  <thead>
    <tr>
      <th>Space</th>
      <th>Task send setting</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @task_send_histories.each do |task_send_history| %>
      <tr>
        <td><%= task_send_history.space_id %></td>
        <td><%= task_send_history.task_send_setting_id %></td>
        <td><%= link_to 'Show', task_send_history %></td>
        <td><%= link_to 'Edit', edit_task_send_history_path(task_send_history) %></td>
        <td><%= link_to 'Destroy', task_send_history, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Task Send History', new_task_send_history_path %>
