<%= form_with(model: slack_user) do |form| %>
  <% if slack_user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(slack_user.errors.count, "error") %> prohibited this slack_user from being saved:</h2>

      <ul>
        <% slack_user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :slack_domain_id %>
    <%= form.text_field :slack_domain_id %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id %>
  </div>

  <div class="field">
    <%= form.label :memberid %>
    <%= form.text_field :memberid %>
  </div>

  <div class="field">
    <%= form.label :string %>
    <%= form.text_field :string %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
