<p id="notice"><%= notice %></p>

<h1>Slack Users</h1>

<table>
  <thead>
    <tr>
      <th>Slack domain</th>
      <th>User</th>
      <th>Memberid</th>
      <th>String</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @slack_users.each do |slack_user| %>
      <tr>
        <td><%= slack_user.slack_domain_id %></td>
        <td><%= slack_user.user_id %></td>
        <td><%= slack_user.memberid %></td>
        <td><%= slack_user.string %></td>
        <td><%= link_to 'Show', slack_user %></td>
        <td><%= link_to 'Edit', edit_slack_user_path(slack_user) %></td>
        <td><%= link_to 'Destroy', slack_user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Slack User', new_slack_user_path %>
